/*-----------------------------------*\
  #CUSTOM PROPERTIES
\*-----------------------------------*/

:root {

  /**
  * COLORS
  */

  --bg-dark-petrol: hsla(180, 58%, 9%, 1);
  --bg-petrol: hsla(180, 60%, 16%, 1);

  --misc-off-white: hsla(0, 0%, 89%, 1);
  --misc-off-white-alpha-15: hsla(0, 0%, 89%, 0.15);
  --misc-off-white-alpha-7: hsla(0, 0%, 89%, 0.07);

  --misc-teal: hsla(180, 52%, 58%, 1);
  --misc-teal-alpha-15: hsla(180, 52%, 58%, 0.15);

  --misc-orange: hsla(41, 52%, 58%, 1);
  --misc-orange-alpha-15: hsla(41, 52%, 58%, 0.15);
  --misc-light-petrol: hsla(180, 36%, 37%, 1);
  --misc-light-petrol-alpha-7: hsla(180, 36%, 37%, 0.07);
  --misc-light-petrol-gray: hsla(180, 19%, 42%, 1);
  
  --misc-white: hsla(0, 0%, 100%, 1);
  
  /**
  * TYPOGRAPHY
  */
  
  --fontFamily-orbitron: 'Orbitron', sans-serif;
  --fontFamily-chakra: 'Chakra Petch', sans-serif;

  /* font size */
  --fontSize-1: 3.6rem;
  --fontSize-2: 2.4rem;
  --fontSize-3: 2rem;
  --fontSize-4: 1.7rem;
  --fontSize-5: 1.5rem;
  --fontSize-6: 1.2rem;
  --fontSize-7: 0.7rem;
  --fontSize-8: 0.5rem;

  /* font weight */
  --weight-light: 200;
  --weight-regular: 400;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /**
  * SPACING
  */
  --section-spacing: 60px;
  --spacer: 5px;

  --radius-circle: 50%;

  /**
  * CLIP PATH
  */
  --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
}

/*-----------------------------------*\
  #CSS RESET
\*-----------------------------------*/
a {
  color: inherit;
  text-decoration: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--bg-dark-petrol);
    color: var(--misc-off-white);
    font-family: var(--fontFamily-chakra);
    font-weight: var(--weight-regular);
    line-height: 1.6;
    overflow-x: hidden;
  }

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.container { padding-inline: 12px; }

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.h1,
.h3 { line-height: 1.3; }

.h1 {
  font-size: var(--fontSize-1);
  font-weight: var(--weight-semiBold);
  font-family: var(--fontFamily-orbitron);
  color: var(--misc-teal);
}

.h2 {
  font-size: var(--fontSize-2);
  line-height: 1.4;
}

.sb-section-title {
  text-transform: uppercase;
  font-family: var(--fontFamily-orbitron);
  font-weight: var(--weight-light);
  font-size: var(--fontSize-6);
  color: var(--misc-teal);
}
/*-----------------------------------*\
  #STANDBY SCREEN
\*-----------------------------------*/
.standby{
  padding-block-start: 170px;
  text-align: center;
}

#content section {
  visibility: hidden;
}

#content section:first-child {
  visibility: visible;
}

#content section:target {
  visibility: visible;
}

/*-----------------------------------*\
  #LOAD/LANGUAGE SELECTION
\*-----------------------------------*/

/*-----------------------------------*\
  #HOME
\*-----------------------------------*/

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/
.navbar {
  height: 100%;
  width: 450px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: var(--bg-petrol);
  overflow-x: hidden; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  padding: 6px 8px 6px 16px;
  font-family: var(--fontFamily-orbitron);
  font-size: var(--fontSize-4);
  color: var(--misc-teal);
  display: block;
}

/*-----------------------------------*\
  #TICKETS
\*-----------------------------------*/