/*-----------------------------------*\
  #CUSTOM PROPERTIES
\*-----------------------------------*/

:root {

  /**
  * COLORS
  */

  --bg-dark-petrol: hsla(180, 58%, 9%, 1); /* #0a2424 */
  --bg-petrol: hsla(180, 60%, 16%, 1); /* #104141 */

  --misc-off-white: hsla(0, 0%, 89%, 1);
  --misc-off-white-alpha-15: hsla(0, 0%, 89%, 0.15);
  --misc-off-white-alpha-7: hsla(0, 0%, 89%, 0.07);

  --misc-teal: hsla(180, 52%, 58%, 1); /* #5ccccc */
  --misc-teal-alpha-15: hsla(180, 52%, 58%, 0.15);

  --misc-orange: hsla(41, 52%, 58%, 1);
  --misc-orange-alpha-15: hsla(41, 52%, 58%, 0.15);
  --misc-light-petrol: hsla(180, 36%, 37%, 1); /* #3c8080 */
  --misc-light-petrol-alpha-7: hsla(180, 36%, 37%, 0.07);
  --misc-light-petrol-gray: hsla(180, 19%, 42%, 1);
  
  --misc-white: hsla(0, 0%, 100%, 1);
  
  /**
  * TYPOGRAPHY
  */
  
  --fontFamily-orbitron: 'Orbitron', sans-serif;
  --fontFamily-chakra: 'Chakra Petch', sans-serif;

  /* font size */
  --fontSize-1: 3.6rem;
  --fontSize-2: 2.4rem;
  --fontSize-3: 2rem;
  --fontSize-4: 1.7rem;
  --fontSize-5: 1.5rem;
  --fontSize-6: 1.2rem;
  --fontSize-7: 0.7rem;
  --fontSize-8: 0.5rem;

  /* font weight */
  --weight-light: 200;
  --weight-regular: 400;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /**
  * SPACING
  */
  --section-spacing: 60px;
  --spacer: 5px;

  --radius-circle: 50%;

  /**
  * CLIP PATH
  */
  --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
}

/*-----------------------------------*\
  #CSS RESET
\*-----------------------------------*/
li { list-style: none; }

a {
  color: inherit;
  text-decoration: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--bg-dark-petrol);
    color: var(--misc-off-white);
    font-family: var(--fontFamily-chakra);
    font-weight: var(--weight-regular);
    line-height: 1.6;
    overflow-x: hidden;
  }

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.container, .sb-container { padding-inline: 12px; }

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.h1,
.h3 { line-height: 1.3; }

.h1 {
  font-size: var(--fontSize-1);
  font-weight: var(--weight-semiBold);
  font-family: var(--fontFamily-orbitron);
  color: var(--misc-teal);
}

.h2 {
  font-size: var(--fontSize-2);
  line-height: 1.4;
}

.sb-section-title {
  text-transform: uppercase;
  font-family: var(--fontFamily-orbitron);
  font-weight: var(--weight-light);
  font-size: var(--fontSize-6);
  color: var(--misc-teal);
}
/*-----------------------------------*\
  #STANDBY SCREEN
\*-----------------------------------*/
.sb-container{
  height: 850px;
  background: radial-gradient(var(--bg-petrol), var(--bg-dark-petrol));
}

.standby {
  padding-top: 200px;
  text-align: center;
}

/*-----------------------------------*\
  #LOAD/LANGUAGE SELECTION
\*-----------------------------------*/

.language-selection{
  padding-top: 200px;
}
.sb-prompt{
  height: 300px;
  width: 250px;
  background-color: var(--misc-light-petrol-gray);
  margin: 200px 150px auto auto;
  border: 3px;
  border-color: var(--misc-teal);
  align-content: center;
  text-align: center;
}

.sb-button{
  height: 50px;
  width: 150px;
  background-color: var(--misc-teal-alpha-15);
  margin: 100px auto;
}

.center {
	height: 180px;
	width: 180px;
	background: radial-gradient(var(--misc-off-white), var(--misc-teal));
	position: absolute;
	z-index: 2;
	-webkit-box-shadow: 0 0 50px var(--misc-teal);
	        box-shadow: 0 0 50px var(--misc-teal);
	top: 50%;
	left: 50%;
	border-radius: 100%;
	margin-top: -100px;
	margin-left: -100px;
	-webkit-animation: Flare 4s infinite alternate;
	        animation: Flare 4s infinite alternate;
}

.orbit1 {
	border: solid 1.5px var(--misc-teal-alpha-15);
	height: 600px;
	width: 500px;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -250px;	
	border-radius: 100%;
	-webkit-animation: Rotation 55s linear infinite;
	        animation: Rotation 55s linear infinite;
}

.orbit2 {
	border: solid 1.5px var(--misc-teal-alpha-15);
  height: 500px;
	width: 350px;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -250px;	
	border-radius: 100%;
	-webkit-animation: Rotation 45s linear infinite reverse;
	        animation: Rotation 45s linear infinite reverse;
}

.orbit3 {
	border: solid 1.5px var(--misc-teal-alpha-15);
  height: 400px;
	width: 500px;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;	
	border-radius: 100%;
	-webkit-animation: Rotation 30s linear infinite;
	        animation: Rotation 30s linear infinite;
}

.orbit4 {
	border: solid 1.5px var(--misc-teal-alpha-15);
  height: 300px;
	width: 450px;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -150px;	
	border-radius: 100%;
	-webkit-animation: Rotation 35s linear infinite reverse;
	        animation: Rotation 35s linear infinite reverse;
}

.dimension {
	position: absolute;
	top: 50%;
	left: 0;
	height: 40px;
	width: 40px;
	margin-top: -40px;	
  background: radial-gradient(var(--misc-off-white), var(--misc-off-white));
	border-radius: 50%;
	-webkit-animation: Rotation 3s linear infinite;	
	        animation: Rotation 3s linear infinite;
}

@-webkit-keyframes Flare {
	from {-webkit-box-shadow: 0 0 50px var(--misc-teal);box-shadow: 0 0 50px var(--misc-teal);}
	to {-webkit-box-shadow: 0 0 100px var(--misc-teal);box-shadow: 0 0 100px var(--misc-teal);}	
}

@keyframes Flare {
	from {-webkit-box-shadow: 0 0 50px var(--misc-teal);box-shadow: 0 0 50px var(--misc-teal);}
	to {-webkit-box-shadow: 0 0 100px var(--misc-teal);box-shadow: 0 0 100px var(--misc-teal);}	
}

@-webkit-keyframes Rotation {
	from {-webkit-transform: rotate(0);transform: rotate(0);}
	to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}	
}

@keyframes Rotation {
	from {-webkit-transform: rotate(0);transform: rotate(0);}
	to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}	
}

/*-----------------------------------*\
  #HOME DIRECTORY
\*-----------------------------------*/
.main-directory{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 20px;
}

.d-item{
  flex-wrap: wrap;
  max-width: 100px;
  border: 0.3rem solid var(--misc-teal);
}
/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/
.navbar {
  height: 100%;
  width: 160px; /* 450 */
  position: fixed; 
  z-index: 2; 
  top: 0; 
  left: 0;
  background-color: var(--bg-petrol);
  overflow-x: hidden; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  padding: 6px 8px 6px 16px;
  font-family: var(--fontFamily-orbitron);
  font-size: var(--fontSize-4);
  color: var(--misc-teal);
  display: block;
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/
.container{
  margin-left: 160px;
}

.main-section {
 display: none;
}

.main-section.active{
  display: block;
}
/*-----------------------------------*\
  #TICKETS
\*-----------------------------------*/


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--misc-teal-alpha-15);
  color: var(--misc-white);
  text-align: center;
  z-index: 1;
}

.news{
  padding: 15px;
  overflow: hidden;
}

.scrolling-text {
  display: flex;
  white-space: nowrap;

  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}

.scrolling-text-item {
  padding: 0 50px;
}

@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}