/*-----------------------------------*\
  #CUSTOM PROPERTIES
\*-----------------------------------*/

:root {

  /**
  * COLORS
  */

  --bg-dark-petrol: hsla(180, 58%, 9%, 1);
  /* #0a2424 */
  --bg-petrol: hsla(180, 60%, 16%, 1);
  /* #104141 */

  --misc-off-white: hsla(0, 0%, 89%, 1);
  --misc-off-white-alpha-15: hsla(0, 0%, 89%, 0.15);
  --misc-off-white-alpha-7: hsla(0, 0%, 89%, 0.07);

  --misc-teal: hsla(180, 52%, 58%, 1);
  /* #5ccccc */
  --misc-teal-alpha-15: hsla(180, 52%, 58%, 0.15);

  --misc-orange: hsla(41, 52%, 58%, 1);
  --misc-orange-alpha-15: hsla(41, 52%, 58%, 0.15);
  --misc-light-petrol: hsla(180, 36%, 37%, 1);
  /* #3c8080 */
  --misc-light-petrol-alpha-7: hsla(180, 36%, 37%, 0.07);
  --misc-light-petrol-gray: hsla(180, 19%, 42%, 1);

  --misc-white: hsla(0, 0%, 100%, 1);

  /**
  * TYPOGRAPHY
  */

  --fontFamily-orbitron: 'Orbitron', sans-serif;
  --fontFamily-chakra: 'Chakra Petch', sans-serif;

  /* font size */
  --fontSize-1: 3.6rem;
  --fontSize-2: 2.4rem;
  --fontSize-3: 2rem;
  --fontSize-4: 1.7rem;
  --fontSize-5: 1.5rem;
  --fontSize-6: 1.2rem;
  --fontSize-7: 1rem;
  --fontSize-8: 0.8rem;

  /* font weight */
  --weight-light: 200;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /**
  * SPACING
  */
  --section-spacing: 60px;
  --spacer: 5px;

  --radius-circle: 50%;

  /**
  * CLIP PATH
  */
  --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-button: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
}

/*-----------------------------------*\
  #CSS RESET
\*-----------------------------------*/
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark-petrol);
  color: var(--misc-off-white);
  font-family: var(--fontFamily-chakra);
  font-weight: var(--weight-regular);
  line-height: 1.6;
  overflow-x: hidden;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.container,
.sb-container {
  padding-inline: 12px;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

h1,
h3 {
  line-height: 1.3;
}

h1 {
  font-size: var(--fontSize-1);
  font-weight: var(--weight-semiBold);
  font-family: var(--fontFamily-orbitron);
  color: var(--misc-teal);
}

h2 {
  font-family: var(--fontFamily-orbitron);
  font-size: var(--fontSize-3);
  font-weight: var(--weight-semiBold);
}

h3 {
  text-transform: uppercase;
  font-family: var(--fontFamily-orbitron);
  font-weight: var(--weight-light);
  font-size: var(--fontSize-6);
  color: var(--misc-teal);
}

.buttontitle {
  font-family: var(--fontFamily-orbitron);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  font-size: var(--fontSize-5);
  pointer-events: none;
}

.buttonsubtitle {
  font-family: var(--fontFamily-orbitron);
  font-weight: var(--weight-light);
  text-transform: uppercase;
  font-size: var(--fontSize-6);
  pointer-events: none;
}

.ridetitle {
  color: var(--misc-teal);
  font-family: var(--fontFamily-orbitron);
  font-weight: var(--weight-semiBold);
  text-transform: uppercase;
  font-size: var(--fontSize-6);
  pointer-events: none;
}

.ridesubtitle {
  font-family: var(--fontFamily-orbitron);
  font-weight: var(--weight-medium);
  text-transform: uppercase;
  font-size: 16px;
  pointer-events: none;
}

.ridetime {
  font-weight: var(--weight-medium);
  font-size: var(--fontSize-7);
}

.rideprice {
  font-weight: var(--weight-semiBold);
  font-size: var(--fontSize-3);
  color: var(--misc-teal);
}

label {
  font-family: var(--fontFamily-orbitron);
  font-weight: var(--weight-semiBold);
  text-transform: uppercase;
  color: var(--misc-off-white);
}

label.labelsmall {
  font-family: var(--fontFamily-chakra);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-regular);
  text-transform: none;
  color: var(--misc-off-white);
}

.textfield {
  color: var(--misc-off-white);
  background-color: var(--misc-teal-alpha-15);
  font-family: var(--fontFamily-chakra);
  font-size: var(--fontSize-6);
  border: 2px solid var(--misc-teal);
  margin-top: 10px;
  height: auto;
  width: auto;
  padding: 15px;
}

.textfield:focus {
  border: 2px solid var(--misc-off-white);
  box-shadow: 0 0 7px white;
  outline: none;
}

::placeholder {
  color: var(--misc-off-white);
}

.counter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.button-beveled {
  font-family: var(--fontFamily-chakra);
  font-weight: var(--weight-semiBold);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 30px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 202 60' preserveAspectRatio='none'%3E%3Cpath d='M9.617 1H201v44.073L188.453 59H1V9.828L9.617 1Z' fill='%235ECCCC' fill-opacity='0.13' stroke='%235ECCCC' stroke-width='2'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  color: var(--misc-teal);
  font-size: 16px;
  cursor: pointer;
  border: none;
  display: inline-block;
}

.button-beveled.filled {
  font-family: var(--fontFamily-chakra);
  font-weight: var(--weight-semiBold);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 30px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 202 60' preserveAspectRatio='none'%3E%3Cpath d='M9.617 1H201v44.073L188.453 59H1V9.828L9.617 1Z' fill='%235ECCCC' stroke='%235ECCCC' stroke-width='2'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  color: var(--bg-dark-petrol);
  font-size: 16px;
  cursor: pointer;
  border: none;
  display: inline-block;
}

.button-yellow {
  font-family: var(--fontFamily-chakra);
  font-weight: var(--weight-semiBold);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 30px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 202 60' preserveAspectRatio='none'%3E%3Cpath d='M9.617 1H201v44.073L188.453 59H1V9.828L9.617 1Z' fill='%23D9B463' fill-opacity='0.13' stroke='%23D9B463' stroke-width='2'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  color: var(--misc-orange);
  font-size: 16px;
  cursor: pointer;
  border: none;
  display: flex;
}

.button-round {
  color: var(--misc-off-white);
  background-color: var(--misc-teal-alpha-15);
  font-family: var(--fontFamily-chakra);
  font-size: var(--fontSize-6);
  border: 2px solid var(--misc-teal);
  aspect-ratio: 1/1;
  width: 100px;
  line-height: 100%;
  text-align: center;
  border-radius: var(--radius-circle);
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.radio .radio-option[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 25px;
  height: 25px;
  border: 2px solid var(--misc-teal);
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  outline: none;
}

.radio .radio-option[type="radio"]:checked {
  border-color: var(--misc-teal);
  background: var(--misc-teal-alpha-15);
  background-image: radial-gradient(circle at center,
      var(--misc-teal) 0%,
      var(--misc-teal) 40%,
      transparent 40.1%);
}

/*-----------------------------------*\
  #STANDBY SCREEN
\*-----------------------------------*/
.sb-container {
  height: 870px;
  background: radial-gradient(var(--bg-petrol), var(--bg-dark-petrol));
}

.standby {
  padding-top: 200px;
  text-align: center;
}

/*-----------------------------------*\
  #LOAD/LANGUAGE SELECTION
\*-----------------------------------*/
.sb-prompt {
  height: 300px;
  width: 250px;
  background-color: var(--misc-light-petrol-gray);
  margin: 200px 150px auto auto;
  border: 30px;
  border-color: var(--misc-teal);
  align-content: center;
  text-align: center;
}

.sb-button {
  height: 50px;
  width: 150px;
  background-color: var(--misc-teal-alpha-15);
  margin: 100px auto;
}

.center {
  height: 180px;
  width: 180px;
  background: radial-gradient(var(--misc-off-white), var(--misc-teal));
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0 0 50px var(--misc-teal);
  box-shadow: 0 0 50px var(--misc-teal);
  top: 50%;
  left: 50%;
  border-radius: 100%;
  margin-top: -100px;
  margin-left: -100px;
  -webkit-animation: Flare 4s infinite alternate;
  animation: Flare 4s infinite alternate;
}

.orbit1 {
  border: solid 1.5px var(--misc-teal-alpha-15);
  height: 600px;
  width: 500px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -250px;
  border-radius: 100%;
  -webkit-animation: Rotation 55s linear infinite;
  animation: Rotation 55s linear infinite;
}

.orbit2 {
  border: solid 1.5px var(--misc-teal-alpha-15);
  height: 500px;
  width: 350px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -250px;
  border-radius: 100%;
  -webkit-animation: Rotation 45s linear infinite reverse;
  animation: Rotation 45s linear infinite reverse;
}

.orbit3 {
  border: solid 1.5px var(--misc-teal-alpha-15);
  height: 400px;
  width: 500px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  border-radius: 100%;
  -webkit-animation: Rotation 30s linear infinite;
  animation: Rotation 30s linear infinite;
}

.orbit4 {
  border: solid 1.5px var(--misc-teal-alpha-15);
  height: 300px;
  width: 450px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -150px;
  border-radius: 100%;
  -webkit-animation: Rotation 35s linear infinite reverse;
  animation: Rotation 35s linear infinite reverse;
}

.dimension {
  position: absolute;
  top: 50%;
  left: 0;
  height: 40px;
  width: 40px;
  margin-top: -40px;
  background: radial-gradient(var(--misc-off-white), var(--misc-off-white));
  border-radius: 50%;
  -webkit-animation: Rotation 3s linear infinite;
  animation: Rotation 3s linear infinite;
}

@-webkit-keyframes Flare {
  from {
    -webkit-box-shadow: 0 0 50px var(--misc-teal);
    box-shadow: 0 0 50px var(--misc-teal);
  }

  to {
    -webkit-box-shadow: 0 0 100px var(--misc-teal);
    box-shadow: 0 0 100px var(--misc-teal);
  }
}

@keyframes Flare {
  from {
    -webkit-box-shadow: 0 0 50px var(--misc-teal);
    box-shadow: 0 0 50px var(--misc-teal);
  }

  to {
    -webkit-box-shadow: 0 0 100px var(--misc-teal);
    box-shadow: 0 0 100px var(--misc-teal);
  }
}

@-webkit-keyframes Rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes Rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*-----------------------------------*\
  #HOME DIRECTORY
\*-----------------------------------*/
.main-directory {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 20px;
}

.d-item {
  flex-wrap: wrap;
  max-width: 100px;
  border: 0.3rem solid var(--misc-teal);
}

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/
.navbar {
  height: 100%;
  width: 160px;
  /* 450 */
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--bg-petrol);
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  padding: 6px 8px 6px 16px;
  font-family: var(--fontFamily-orbitron);
  font-size: var(--fontSize-4);
  color: var(--misc-teal);
  display: block;
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/
.container {
  margin-left: 160px;
}

.main-section:not(.active) {
  display: none;
}

.main-section.active {
  display: block;
}

/*-----------------------------------*\
  #TICKETS
\*-----------------------------------*/

.main-section.active.c1-pg-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 150px;
  box-sizing: border-box;
}

.c1-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}

.c1-search>h2 {
  align-self: flex-start;
  width: 100%;
}

.c1-search-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

.c1-search-item.grow {
  flex-grow: 1;
  max-width: 600px;
}

.c1-search-field {
  width: 100%;
  text-justify: center;
}

.c1-search-item.short {
  width: 150px;
  flex-shrink: 0;
}

.c1-radio {
  margin-top: 30px;
  margin-bottom: 30px;
}

.c1-button-beveled {
  margin-left: auto;
}

.main-section.active.c1-pg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 150px;
  box-sizing: border-box;
}

.c1-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}

.c1-results>h2 {
  align-self: flex-start;
  width: 100%;
}

.c1-dates-slider {
  display: flex;
  width: 100%;
  gap: 10px;
}

.c1-date {
  color: var(--misc-teal);
  background-color: transparent;
  border: 1px solid var(--misc-teal);
  height: auto;
  padding: 15px;
  flex-grow: 1;
}

.c1-date.active {
  background-color: var(--misc-teal);
  /* Blue background */
  color: white;
  /* White text for contrast */
  border-color: var(--misc-teal);
}

.c1-rides-list {
  width: 100%;
  display: flex;
  /* Horizontal layout */
  flex-direction: column;
  gap: 10px;
  /* Space between items */
}

.c1-ride {
  color: var(--misc-off-white);
  background-color: var(--misc-teal-alpha-15);
  border: 2px solid var(--misc-teal);
  display: flex;
  /* Horizontal layout */
  gap: 10px;
  /* Space between items */
  padding: 15px;
  align-items: center;
}

.c1-departure,
.c1-arrival,
.c1-price,
.c1-select {
  flex: 1 1 auto;
  /* Allows growth/shrink but maintains equal distribution */
  min-width: 0;
  /* Prevents overflow issues */
  text-align: center;
  /* Center content */
}

.c1-duration {
  flex: 2 1 auto;
  position: relative;
  padding-bottom: 5px;
  text-align: center;
}

.c1-duration::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: var(--misc-off-white);
}

/*-----------------------------------*\
  #FAQS
\*-----------------------------------*/

.titolo-bottone-faqs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.faqs {
  display: inline-block;
  margin-left: 130px;
  margin-right: 130px;
}

.button-page {
  color: var(--misc-teal);
}

.accordion {
  background-color: var(--misc-teal-alpha-15);
  cursor: pointer;
  padding: 12px 18px;
  width: calc(100% - 260px);
  border: solid var(--misc-teal);
  border-width: 1px 1px 0 1px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  color: var(--misc-off-white);
  font-weight: var(--weight-regular);
  font: var(--fontFamily-orbitron);
  font-size: var(--fontSize-6);
  margin-left: 130px;
  margin-right: 130px;
}

.active-accordion,
.accordion:hover {
  background-color: var(--bg-dark-petrol);
}

.accordion:after {
  content: '\2228';
  color: var(--misc-teal);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-accordion:after {
  content: "\2227";
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: solid var(--misc-teal);
  border-width: 0 1px 1px 1px;
  margin-left: 130px;
  margin-right: 130px;
}

.accordion-ul {
  list-style-type: none;
}

.accordion-ul>.accordion-li {
  text-indent: 5px;
}

.accordion-ul>.accordion-li:before {
  content: "-";
  text-indent: 5px;
}

.button-assistance {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

/*-----------------------------------*\
  #TIMETABLE
\*-----------------------------------*/

.titolo-bottone-timetable {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.timetable {
  display: inline-block;
  margin-left: 160px;
  margin-right: 160px;
}

.tabella-timetable {
  display: flex;
  justify-content: center;
  height: 70vh;
  text-transform: uppercase;
  font-size: var(--fontSize-6)
}

table {
  width: calc(100% - 320px);
  border: none;
  border-collapse: collapse;
}

th {
  text-align: center;
  background-color: var(--misc-light-petrol-alpha-7);
}

.timetable-odd {
  text-align: center;
  background-color: var(--misc-teal-alpha-15);
}

.timetable-even {
  text-align: center;
  background-color: hsla(180, 36%, 37%, 0.17);
}

.timetable-news {
  background-color: var(--bg-dark-petrol);
}

.timetable-uppercase {
  text-transform: uppercase;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--misc-teal-alpha-15);
  color: var(--misc-white);
  text-align: center;
  z-index: 1;
}

.news {
  padding: 15px;
  overflow: hidden;
}

.scrolling-text {
  display: flex;
  white-space: nowrap;

  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}

.scrolling-text-item {
  padding: 0 50px;
}

@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}